# application config file
app.conf
app.psgi.conf

# editor swap files
*.swp

# log directory
log/

# Mojolicious::Plugin::AssetPack
public/packed

# bower
public/components/

# hypnotoad pid file
hypnotoad.pid

# sass
.sass-cache/
