# application config file
app.conf
app.psgi.conf

# editor swap files
*.swp

# log directory
log/

# Mojolicious::Plugin::AssetPack
assets/assetpack.db
assets/cache/
assets/vendor/

# bower
public/components/

# hypnotoad pid file
hypnotoad.pid

# sass
.sass-cache/
