.offcert {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.offcert .bgwhite {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 61px;
  height              : 606px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 43px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .bgwhite1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 42px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .barunder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 2px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .iconopencloset {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 19px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .iconopencloset .a277255270260277eu0302au0300au030a267iu0302260iu0301jpeg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .iconback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .iconback .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .bars .barnav .iconback .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 15px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .texttitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 52px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.offcert .texttitle .span1 {

}
.offcert .texttitle .span2 {
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
}
.offcert .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name .label02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.offcert .name .label02name .content02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 15px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 14.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.offcert .name .label02name .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name .icondelete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name .icondelete .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .name .label02name .icondelete .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : 43px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell .label02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.offcert .cell .label02cell .content02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 15px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 14.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.offcert .cell .label02cell .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell .icondelete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell .icondelete .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .label02cell .icondelete .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .btnblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .btnblue .btnsend {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .btnblue .btnsend .rectangle {
  background-color    : rgba(53, 94, 205, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cell .btnblue .btnsend .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 24px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.offcert .cert {
  background-color    : rgba(255,255,255,0.0);
  top                 : 295px;
  height              : 43px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .label02cert {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .label02cert .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .label02cert .label02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.offcert .cert .label02cert .content02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 15px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 14.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.offcert .cert .label02cert .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .a0300ub0b4uc5d0uc785ub825ud558uc138uc694 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 16px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 10.0px;
  color               : rgba(53, 94, 205, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.offcert .cert .a0300ub0b4uc5d0uc785ub825ud558uc138uc694 .span1 {

}
.offcert .cert .a0300ub0b4uc5d0uc785ub825ud558uc138uc694 .span2 {
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
}
.offcert .cert .btngrey {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .btngrey .btnconfirm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .btngrey .btnconfirm .rectanglecopy {
  background-color    : rgba(71, 71, 71, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .cert .btngrey .btnconfirm .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 24px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.offcert .linethick {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : 7px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .linethick .dividinglinethick {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 7px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 395px;
  height              : 126px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .all {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .all .ubaa8ub450ud655uc778ud6c4ub3d9uc758ud569ub2c8ub2e4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 18px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 14.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.offcert .radioterms .all .btnroundwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .all .btnroundwhite .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .linethin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 1px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .linethin .dividinglinethin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .service {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 23px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .service .uc11cube44uc2a4uc774uc6a9uc57duad00uc5d0ub300ud55cub3d9uc758ud544uc218 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 17px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(121, 121, 121, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.offcert .radioterms .service .btnroundwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .service .btnroundwhite .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .individual {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 23px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .individual .uac1cuc778uc815ubcf4ucde8uae09ubc29uce68uc5d0ub300ud55cub3d9uc758ud544uc218 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 17px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(121, 121, 121, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.offcert .radioterms .individual .btnroundwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .radioterms .individual .btnroundwhite .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .btnbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 604px;
  height              : 65px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .btnbottom .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .btnbottom .btnbottom1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .btnbottom .btnbottom1 .rectangle1 {
  background-color    : rgba(255, 179, 67, 1.0);
  top                 : 0px;
  height              : 47px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offcert .btnbottom .btnbottom1 .ub2e4uc74cub2e8uacc4ub85cuc9c4ud589ud569ub2c8ub2e4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
