.offmain {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.offmain .bgimage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 710px;
  width               : 1065px;
  position            : absolute;
  margin              : 0;
  left                : -532px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .u110bu1167u11afu1105u1175u11abu110bu1169u11bau110cu1161u11bcu1112u1174u11abu1109u1162u11a801 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 623px;
  height              : 23px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.33;
}
.offmain .btnreserv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 196px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnreserv .rect {
  background-color    : rgba(255, 179, 67, 1.0);
  top                 : 0px;
  height              : 196px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnreserv .uc5f4ub9b0uc637uc7a5ubc29ubb38uc2dcuac04uc608uc57dud558uae30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 52px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.offmain .btnreserv .uc5f4ub9b0uc637uc7a5ubc29ubb38uc2dcuac04uc608uc57dud558uae30 .span1 {

}
.offmain .btnreserv .uc5f4ub9b0uc637uc7a5ubc29ubb38uc2dcuac04uc608uc57dud558uae30 .span2 {
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
}
.offmain .btnreserv .a267ubc29ubb38uc2dcuac04uc608uc57d267uc608uc57dub0b4uc5edud655uc778 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-weight         : bold;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.offmain .btnreserv .ud734ub300uc804ud654uac00uc5c6uac70ub098ubc88ud638uac00ubcc0uacbdub41c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 32px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.58;
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.offmain .btnreserv .iconnext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnreserv .iconnext .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnreserv .iconnext .iconnext1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnseoul {
  background-color    : rgba(255,255,255,0.0);
  top                 : 248px;
  height              : 56px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnseoul .rect {
  background-color    : rgba(155, 154, 155, 1.0);
  top                 : 0px;
  height              : 56px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.offmain .btnseoul .uc11cuc6b8uc2dcuc815uc7a5ubb34ub8ccub300uc5ecubc14ub85cuac00uae30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 26px;
  width               : 286px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.offmain .btnseoul .uc11cuc6b8uc2dcuc815uc7a5ubb34ub8ccub300uc5ecubc14ub85cuac00uae30 .span1 {
  font-weight         : bold;
}
.offmain .btnseoul .uc11cuc6b8uc2dcuc815uc7a5ubb34ub8ccub300uc5ecubc14ub85cuac00uae30 .span2 {
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
}
.offmain .btnseoul .iconnextblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnseoul .iconnextblue .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnseoul .iconnextblue .iconnext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnkyungki {
  background-color    : rgba(255,255,255,0.0);
  top                 : 312px;
  height              : 56px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnkyungki .rect {
  background-color    : rgba(155, 154, 155, 1.0);
  top                 : 0px;
  height              : 56px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.offmain .btnkyungki .uacbduae30uc815uc7a5ubb34ub8ccub300uc5ecuc815ubcf4ubcf4uae30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 26px;
  width               : 286px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.offmain .btnkyungki .uacbduae30uc815uc7a5ubb34ub8ccub300uc5ecuc815ubcf4ubcf4uae30 .span1 {
  font-weight         : bold;
}
.offmain .btnkyungki .uacbduae30uc815uc7a5ubb34ub8ccub300uc5ecuc815ubcf4ubcf4uae30 .span2 {
  font-family         : "Noto Sans KR", Helvetica, Arial, serif;
}
.offmain .btnkyungki .iconnextblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnkyungki .iconnextblue .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.offmain .btnkyungki .iconnextblue .iconnext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
