.image-box {
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.logo-box {
  border-top: none;
  background-color: transparent;
  padding: 1rem;

  img {
    width: 97px;
    height: 23px;
    opacity: .33;
  }
}

#offintro .box-link {
  &:hover {
    text-decoration: none;
  }

  .card {
    border: none;
    margin-bottom: 1rem;
    margin-left: .5rem;
    font-weight: 700;

    &.box-link-delivery {
      background-color: #355ecd;
      color: #fff;
    }

    &.box-link-visit {
      background-color: #ffb343;
      color: #fff;
    }

    .box-link-arrow {
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 99;
    }

    .box-link-title {
      font-size: 1.9rem;
      line-height: 1.2;
    }

    .box-link-subtitle {
      font-size: 1rem;
      line-height: 1.2;
    }

    .box-link-desc {
      line-height: 1.2;
      opacity: .75;
    }
  }
}

#offmain .box-link {
  &:hover {
    text-decoration: none;
  }

  .card {
    border: none;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 700;

    &.box-link-offcert {
      background-color: #ffb343;
      color: #fff;

      .box-link-title {
        font-size: 1.3rem;
        line-height: 1.2;

        .span1 {
          font-weight: normal;
        }
      }

      .box-link-subtitle {
        font-size: 0.9rem;
        line-height: 1.4;
      }

      .box-link-desc {
        font-size: 0.75em;
        line-height: 1.2;
        font-weight: normal;
        opacity: .58;
      }
    }

    &.box-link-event {
      background-color: rgba(155, 154, 155, 1.0);
      color: #fff;

      .box-link-title {
        font-size: 1rem;
        line-height: 1.2;

        .span2 {
          font-weight: normal;
        }
      }
    }

    .box-link-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      z-index: 99;
    }

  }
}

#offcert {
  .card {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .card-header,
  .card-body {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-header {
    border: none;

    .card-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: normal;
      }
      .span2 {
        font-weight: 700;
      }
    }
  }

  .card-body {
    padding-top: 10px;

    input {
      outline: 0;
      border-width: 0 0 2px;
      border-radius: 0;
      background-color: transparent;

      &:focus {
        border-color: green;
        box-shadow: none;
      }

      &::placeholder {
        font-size: 0.78rem;
      }
    }

    .cert {
      .form-group {
        margin-bottom: 12px;

        .form-label {
          margin-bottom: 0;
          font-size: 0.75rem;
        }

        .form-control {
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;
          padding-left: 0.2rem;
          padding-right: 0.2rem;
        }
      }

      .cert-button {
        height: 100%;
        padding-bottom: 12px;
      }
    }
  }

  .agree {
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .custom-switch {
      padding-left: 0;
    }
    .agree-before-validate {
      background: transparent;
      border: none;
    }

    .agree-all {
      .custom-switch-description {
        font-weight: 700;
      }
    }
  }

  .form-footer {
    button {
      color: #fff;
      background-color: #ffb343;
    }
  }
}

#offlist {
  .heading {
    .page-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: 700;
      }
    }
  }

  .reserved-list {
    .card {
      .card-title {
        font-weight: 700;
      }
      .reserved-info {
        .reserved-info-key {
          font-weight: 700;
          font-size: 0.8rem;
        }
        .reserved-info-val {
        }
      }
    }
  }
}

#offdate {
  .card {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .card-header,
  .card-body {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-header {
    border: none;
    min-height: 0;

    .card-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: 700;
      }
    }
  }

  .card-body {
    .caution {
      font-size: 0.75rem;
    }
    .offdate-booking-hm {
      .offdate-booking-hm-list {
        padding: 0.5rem;
      }
      $bg-color: #e6f3ff;
      .custom-control {
        padding: 0.7rem 0.3rem 0.7rem 3rem;
        &:nth-child(2n+1) {
          background-color: darken( $bg-color, 6% );
        }
        &:nth-child(2n) {
          background-color: darken( $bg-color, 2% );
        }
        &.disabled {
          background-color: #d4d4d4;
        }
        .booking-hm {
          padding-left: 0.2rem;
        }
        .booking-slot {
          padding-left: 3rem;
        }
      }
    }
  }

  .form-footer {
    button {
      color: #fff;
      background-color: #ffb343;
    }
  }
}

.header {
  .header-back-button,
  .header-brand {
    color: rgb(73, 80, 87);
    line-height: 0;
    &:hover {
      text-decoration: none;
    }
  }

  .header-back-button {
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    padding: 0;
    line-height: 2rem;
    opacity: 0.75;
    i {
      transform: translate(0, -15%);
    }
  }
}

.footer {
  .slogan {
    .slogan-title {
      font-size: 1.05rem;
      font-weight: 700;
    }
    .slogan-desc {
      font-size: 0.8rem;
    }
  }
}

// bootbox close button patch
.bootbox-close-button.close::before {
  content: "";
}
// bootbox vertical center
// https://stackoverflow.com/questions/38045320/bootstrap-and-bootbox-set-dialog-box-center-of-the-screen
// https://github.com/makeusabrew/bootbox/issues/166
.modal-open .modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

// circle button
// https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4/
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 
