$opencloset-color-ok:     #355ece;
$opencloset-color-cancel: #474747;
$opencloset-color-next:   #ffb343;

.opencloset-btn-ok     { color: #fff; background-color: $opencloset-color-ok; }
.opencloset-btn-cancel { color: #fff; background-color: $opencloset-color-cancel; }
.opencloset-btn-next   { color: #fff; background-color: $opencloset-color-next; }

.image-box {
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.logo-box {
  border-top: none;
  background-color: transparent;
  padding: 1rem;

  img {
    width: 97px;
    height: 23px;
    opacity: .33;
  }
}

#offintro .box-link {
  &:hover {
    text-decoration: none;
  }

  .card {
    border: none;
    margin-bottom: 1rem;
    margin-left: .5rem;
    font-weight: 700;

    &.box-link-delivery {
      background-color: $opencloset-color-ok;
      color: #fff;
    }

    &.box-link-visit {
      background-color: $opencloset-color-next;
      color: #fff;
    }

    .box-link-arrow {
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 99;
    }

    .box-link-title {
      font-size: 1.9rem;
      line-height: 1.2;
    }

    .box-link-subtitle {
      font-size: 1rem;
      line-height: 1.2;
    }

    .box-link-desc {
      line-height: 1.2;
      opacity: .75;
    }
  }
}

#offmain .box-link {
  &:hover {
    text-decoration: none;
  }

  .card {
    border: none;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 700;

    &.box-link-offcert {
      background-color: $opencloset-color-next;
      color: #fff;

      .box-link-title {
        font-size: 1.5rem;
        line-height: 1.2;
      }

      .box-link-subtitle {
        font-size: 0.9rem;
        line-height: 1.4;
      }

      .box-link-desc {
        font-size: 0.75em;
        line-height: 1.2;
        font-weight: 700;
        opacity: .88;
      }
    }

    &.box-link-event {
      background-color: rgba(155, 154, 155, 1.0);
      color: #fff;

      .box-link-title {
        font-size: 1rem;
        line-height: 1.2;

        .span2 {
          font-weight: normal;
        }
      }
    }

    .box-link-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      z-index: 99;
    }

  }
}

#offcert,
#offdate,
#offorder1,
#offorder2,
#offuser {
  .card {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .card-header,
  .card-body {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-header {
    border: none;
    min-height: 0;

    .card-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: 700;
      }
    }
  }

  .card-body {
    .caution {
      font-size: 0.75rem;
    }
    .form-group {
      small {
        font-size: 0.75rem;
        padding-left: 0.5rem;
        padding-right: 0.3rem;
      }
    }
  }
}

#page-offcert {
  // bootbox long text scroll
  // https://stackoverflow.com/questions/35973435/how-to-add-a-scroll-to-bootbox-dialog
  .modal-body {
    overflow-y: auto;
    height: 300px;
  }
  // opencloset bootbox heading rule
  .modal-body {
    h4 {
      margin-top: 1.32em;
      margin-bottom: 0.66em;
    }
  }
}
#offcert {
  .card-header {
    .card-title {
      .span1 {
        font-weight: normal;
      }
      .span2 {
        font-weight: 700;
      }
    }
  }

  .card-body {
    padding-top: 10px;

    input {
      outline: 0;
      border-width: 0 0 2px;
      border-radius: 0;
      background-color: transparent;

      &:focus {
        border-color: green;
        box-shadow: none;
      }

      &::placeholder {
        font-size: 0.78rem;
      }
    }

    .cert {
      .form-group {
        margin-bottom: 12px;

        .form-label {
          margin-bottom: 0;
          font-size: 0.75rem;
        }

        .form-control {
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;
          padding-left: 0.2rem;
          padding-right: 0.2rem;
        }

        .selectize-control {
          background: transparent;
        }

        .selectize-input.select-invalid {
          border: 2px solid #cd201f !important;
        }
      }

      .cert-button {
        height: 100%;
        padding-bottom: 12px;
      }
    }
  }

  .agree {
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .custom-switch {
      padding-left: 0;
    }
    .agree-before-validate {
      background: transparent;
      border: none;
    }

    .agree-all {
      .custom-switch-description {
        font-weight: 700;
      }
    }
  }
}

#offlist {
  .heading {
    .page-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: 700;
      }
    }
  }

  .reserved-list {
    .card {
      .card-title {
        font-weight: 700;
      }
      .reserved-info {
        .reserved-info-key {
          font-weight: 700;
          font-size: 0.8rem;
        }
        .reserved-info-val {
        }
      }
    }
  }
}

#offdate {
  .card-body {
    .offdate-booking-hm {
      .offdate-booking-hm-list {
        padding: 0.5rem;
      }
      $bg-color: #e6f3ff;
      .custom-control {
        padding: 0.7rem 0.3rem 0.7rem 3rem;
        &:nth-child(2n+1) {
          background-color: darken( $bg-color, 6% );
        }
        &:nth-child(2n) {
          background-color: darken( $bg-color, 2% );
        }
        &.disabled {
          background-color: #d4d4d4;
        }
        &.selected {
          background-color: darken( $bg-color, 15% );
          border: darken( $bg-color, 25% ) solid 1px;
        }
        .booking-hm {
          padding-left: 0.2rem;
        }
        .booking-slot {
          padding-left: 3rem;
        }
      }
    }
  }
}

#offorder1 {
}

#offorder2 {
}

#offuser {
  .form-footer {
    button {
      min-height: 4rem;
    }
  }
}

#offbooked {
  .heading {
    .page-title {
      font-size: 1.3rem;
      line-height: 1.2;
      .span1 {
        font-weight: 700;
      }
    }
  }

  .card {
    .card-title {
      font-weight: 700;
    }
    .card-body {
      .offbooked-realname,
      .offbooked-date {
        font-weight: 700;
      }

      dt {
        width: 30%;
        float: left;
      }
    }
  }
}

.header {
  .header-back-button,
  .header-brand {
    color: rgb(73, 80, 87);
    line-height: 0;
    &:hover {
      text-decoration: none;
    }
  }

  .header-back-button {
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    padding: 0;
    line-height: 2rem;
    opacity: 0.75;
    i {
      transform: translate(0, -15%);
    }
  }
}

.footer {
  .slogan {
    .slogan-title {
      font-size: 1.05rem;
      font-weight: 700;
    }
    .slogan-desc {
      font-size: 0.8rem;
    }
  }
}

// bootbox close button patch
.bootbox-close-button.close::before {
  content: "";
}
// bootbox vertical center
// https://stackoverflow.com/questions/38045320/bootstrap-and-bootbox-set-dialog-box-center-of-the-screen
// https://github.com/makeusabrew/bootbox/issues/166
.modal-open .modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

// circle button
// https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4/
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

// Custom Styling Form Inputs With Modern CSS Features | CSS-Tricks
// https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
.modern-form {
  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
    input[type='radio'] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }
      &:checked {
        --s: .5;
      }
    }
  }
}

//
// postcodify
//
div.postcodify_popup_layer div.postcodify_controls,
div.postcodify_popup_layer button.search_button,
div.postcodify_popup_layer button.close_button {
  background-color: $opencloset-color-next;
}
